@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Examen MVC Reservas</h1>

    <p> Por favor, inicie sesion para visualizar sus reservas.</p>

   
    
</div>
